{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>	
<script type="text/javascript" src="{{ url_for('static', filename='js/move_item.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}" />
<div class="container">
    <div class="row">
        <div class="col-md-6">

        	Hello,
			
				{{ current_user.username }}
			
            
             {{wtf.quick_form(form)}}  

        {% for post in todo %}
            
             <a href="{{ url_for('.user', username=post.author.username) }}">
             {{ post.author.username }}
             <div class="post-body">{{ post.todos}}</div>
             <div class="post-body">{{ post.description}}</div>
        {%endfor%}

    </div>
</div>
{% endblock %}
